{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block courseCols %}  

<div class="container-fluid">


      <div class="row">
        <h1 class="display-5">ABOUT</h1>
      </div>

      <div class="row">
        <p class="lead">Easily find the prerequisites of the courses you're planning on taking with a click of a button. The website displays 
          all the engineering courses in the clicked engineering type, upon clicking on any of the courses shown, it's prerequisites will light up,
          as well as the official description of the course will appear on the right hand side.
        </p>
        <p class="lead">
          The creation of this site was inspired by another <a href="https://presidentkevvol.github.io/YorkCSClassList/">website</a>, created by <a href="https://github.com/PresidentKevvol">PresidentKevvol</a>. Both sites serve the same purpose, however their implementations, limitations, and visualizations differ.
        </p>

        <p class="lead"> This website is still under maintenance, and so it would be wise to double check the prerequisites
          with an advisor or from the official <a href="https://w2prod.sis.yorku.ca/Apps/WebObjects/cdm">course description website</a>
        </p>
      </div>

    

    <hr />

    

      <div class="row">
        <h1 class="display-5">FAQ</h1>
      </div>

      <div class="row">
        
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Is this an official site handled by YorkU?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>No</strong>, this website was created Walid AlDari, an undergraduate SE student, and was not instructed nor sponsored by York University to create this website. This was simply a side project created to make engineers' lives less miserable.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Is the course info updated frequently?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Prerequisite info on this site will be updated at start of every summer</strong>, therefore any updates to course info that occur over the course of the fall/winter/remaining summer will not be applied to this website. 
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  There is an error or a missing prerequisite for one of the courses, when will it be fixed?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Please fill up the form in the "Report" section of the site</strong> which is found in far left of the navigation bar, and then the error will be fixed asap.
                  <strong>The Report section of the website hasn't been added yet, as the website is still under maintenance.</strong>
                </div>
              </div>
            </div>
          </div>

      </div>

    

    <hr />

    

  
        <div class="row">
          <h1 class="display-6">Walid AlDari - Site Developer</h1>
          <p class="lead">I'm a 2nd year SE student studying at YorkU, I have a passion in creating programs that make peoples'
            lives easier, as well as a growing interest in data science and back-end development. You can find me coding at the berg 
            or chilling in a random psychology class. 
          </p>
          <a href="https://github.com/walido2001" class="fa fa-github col" style="font-size: 7vw;"></a>
          <a href="https://linkedin.com/in/walidald" class="fa fa-linkedin col" style="font-size: 7vw;"></a>
        </div>
  
      

    <hr />
  </div>

{% endblock %}