{% extends "base.html" %}

{% block title %} Report Form {% endblock %}

{% block courseCols %}

<form class="row g-3">
    <div class="col-md-6">
      <label for="inputName" class="form-label">Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Walid AlDari">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="walidAD@gmail.com">
    </div>
    
    <div class="col-md-6">
        <label for="inputCourse" class="form-label">Course Code</label>
        <input type="text" class="form-control" id="inputCourse" placeholder="PSYC 1010">
      </div>
      <div class="col-md-6">
        <label for="inputType" class="form-label">Engineering Type</label>
        <select id="inputType" class="form-select">
            <option selected>Bug found in:</option>
            <option value="mechanical">Mechanical</option>
            <option value="electrical">Electrical</option>
            <option value="aerospace">Aerospace</option>
            <option value="civil">Civil</option>
            <option value="computer">Computer</option>
            <option value="software">Software</option>
        </select>
      </div>

    <div class="col-12">
      <label for="inputAddition" class="form-label">Anything else to add?</label>
      <input type="text" class="form-control" id="inputAddition" placeholder="The world is on the verge of collapse and so I wanted to let you know this button doesn't work">
    </div>
    
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit bug report</button>
    </div>
  </form>
    
{% endblock %}